@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1d3557;
  cursor: pointer;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  background: #457b9d;
  height: 6000px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f1faee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

.process_bar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 8px;
  z-index: 1000;
  background: #f1faee;
}

.process_bar .process {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1d3557;
  height: 8px;
  width: 0%;
}

.info {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: #f1faee;
  font-size: 14px;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #1d3557;
}

.wrap {
  position: relative;
  height: 3000px;
  margin: 0 auto;
  overflow: hidden;
}

.rect {
  width: 300px;
  height: 300px;
  background: #f1faee;
  border-radius: 10px;
}

.arc {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #1d3557;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 90px 180px 90px;
  border-color: transparent transparent #e63946 transparent;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.start {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start .triangle {
  -webkit-transform-origin: 50% 60%;
          transform-origin: 50% 60%;
}

.start .triangle::after {
  content: "";
  position: absolute;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  left: -90px;
  top: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 180px 90px 0px 90px;
  border-color: #e63946 transparent transparent transparent;
}

.start > * {
  position: absolute;
}

.start .welcome {
  text-align: center;
  color: white;
}

.start .welcome h1 {
  width: 760px;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 4px;
}

.start .welcome p {
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 2px;
}

.question_area {
  width: 1024px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}

.question_area .q_block {
  background: #1d3557;
  width: 100%;
  height: 100vh;
  display: none;
}

.question_area .q_block .question {
  position: absolute;
  width: 600px;
  left: 0px;
  right: 424px;
  height: 100%;
  padding: 15% 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f1faee;
}

.question_area .q_block .question h1 {
  font-size: 64px;
  color: #e63946;
}

.question_area .q_block .question h4 {
  font-size: 36px;
  color: #1d3557;
}

.question_area .q_block .question p {
  font-size: 24px;
  color: #457b9d;
  padding-bottom: 20px;
}

.question_area .q_block .question .answer {
  width: 380px;
  cursor: pointer;
  border-radius: 30px;
  padding: 15px;
  border: 2px solid #1d3557;
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
  color: #1d3557;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.question_area .q_block .question .answer:hover {
  background: #1d3557;
  color: #f1faee;
}

.question_area .geo {
  position: absolute;
}

.question_area .rect, .question_area .triangle {
  -webkit-animation: 5s rotate infinite linear;
          animation: 5s rotate infinite linear;
}

.question_area .r0 {
  right: 80px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  top: 80px;
}

.question_area .r1 {
  left: 80px;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 300px;
}

.question_area .arc {
  -webkit-animation: 3s wave infinite linear;
          animation: 3s wave infinite linear;
}

.question_area .a0 {
  top: 480px;
  right: 200px;
  background: #a8dadc;
}

.question_area .a1 {
  top: 0px;
  left: 200px;
  background: #a8dadc;
}

.question_area .t0 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  right: -30px;
  top: 300px;
}

.question_area .t0 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  right: -30px;
  top: 300px;
}

.question_area .t1 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  left: 0px;
  bottom: 30px;
}

.scroll {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1d3557;
}

.scroll .bg_triangle .triangle {
  position: absolute;
}

.scroll .bg_triangle .triangle:nth-child(1) {
  border-color: transparent transparent #e63946 transparent;
  right: 10%;
  top: 0%;
}

.scroll .bg_triangle .triangle:nth-child(2) {
  border-color: transparent transparent #f1faee transparent;
  right: 0%;
  top: 10%;
}

.scroll .bg_triangle .triangle:nth-child(3) {
  border-color: transparent transparent #a8dadc transparent;
  right: 20%;
  top: 30%;
}

.scroll .bg_triangle .triangle:nth-child(4) {
  border-color: transparent transparent #457b9d transparent;
  right: 30%;
  top: 60%;
}

.scroll .bg_triangle .triangle:nth-child(5) {
  border-color: transparent transparent #f1faee transparent;
  right: 40%;
  top: 50%;
}

.scroll .bg_triangle .triangle:nth-child(5) {
  border-color: transparent transparent #f1faee transparent;
  right: 60%;
  top: 20%;
}

.scroll .bg_triangle .triangle:nth-child(6) {
  border-color: transparent transparent #e63946 transparent;
  right: 40%;
  top: 10%;
}

.scroll .bg_triangle .triangle:nth-child(7) {
  border-color: transparent transparent #e63946 transparent;
  right: 40%;
  top: 70%;
}

.scroll .bg_triangle .triangle:nth-child(8) {
  border-color: transparent transparent #a8dadc transparent;
  right: 80%;
  top: 75%;
}

.scroll .bg_triangle .triangle:nth-child(9) {
  border-color: transparent transparent #e63946 transparent;
  right: 100%;
  top: 10%;
}

.scroll .bg_triangle .triangle:nth-child(10) {
  border-color: transparent transparent #457b9d transparent;
  right: 200%;
  top: 200%;
}

.scroll .step {
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scroll .step h1 {
  font-size: 64px;
}

.scroll .step p {
  font-size: 24px;
  padding-bottom: 20px;
}

.scroll .step_0 {
  opacity: 1;
}

.scroll .step_0 h1 {
  color: #f1faee;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
